html {
    cursor: url("rukica.png"), auto !important;
}

}

@font-face {
    font-family: 'gugi';
    src: url('lukasibinac.github.io
/Gugi-Italic.woff2') format('woff2'),
     
}

body {
    font-family: 'gugi', sans-serif;
    /* Use the custom font for the body text */
}
.static {
  position:absolute;
  background: white;
   width: auto; 
 max-height: 35%;
}

.static:hover {
  opacity:0;
}
#imgClickAndChange:hover {
    cursor: pointer;
}
 .additional-images {
            display: none;
        }
/* Add styles for GIFs */
.gif {
    width: 200px; /* Adjust size as needed */
    height: auto;
}

/* Optional: Style for link hover */
.gif-link:hover {
    /* Add any hover styles here */
}
.gif {
    display: none;
}
